%h2 Sign up
= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = f.error_notification
  .form-inputs
    / User profile
    = f.input :username, required: true, autofocus: true
    = f.input :email, required: true
    = f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length)
    = f.input :password_confirmation, required: true

    / Ads profile
    = f.input :company_name, required: true
    = f.input :company_url, required: true
    = f.input :advertiser_type_id, collection: User::ADVERTISER_TYPES.collect { |x| [x, User::ADVERTISER_TYPES.index(x)] }, prompt: 'Choose One'
    = f.input :target_audience_id, collection: User::TARGET_AUDIENCE.collect { |x| [x, User::TARGET_AUDIENCE.index(x)] }, prompt: 'Choose One'
    = f.input :monthly_spend_id, collection: User::AVERAGE_MONTHLY_SPEND.collect { |x| [x, User::AVERAGE_MONTHLY_SPEND.index(x)]}, prompt: 'Choose One'
  .form-actions
    = f.button :submit, "Sign up"
= render "devise/shared/links"