%h1.text-primary.text-xxxl.text-light
  All Campaigns
- if @campaigns.nil? || @campaigns.empty?
  %p No campaigns available.
- else
  .table-responsive
    %table#campains-table.table.table-striped.table-hover
      %thead
        %tr
          %th Id
          %th Campaign
          %th Client Account
          %th Budget
          %th Types
          %th Status
          %th Impr
          %th Clicks
          %th CTR
          %th Avg. CPC
          %th Cost
      %tfoot
        %tr
          %th ID 
          %th Campaign
          %th Client Account
          %th Budget
          %th Types
          %th Status
          %th Impr
          %th Clicks
          %th CTR
          %th Avg. CPC
          %th Cost
      %tbody
        - @campaigns.each do |campaign|
          %tr
            %td
              = link_to campaign.id, ads_google_campaign_path(campaign.customer_id, campaign.id)
            %td
              = link_to campaign.name, ads_google_campaign_path(campaign.customer_id, campaign.id)
            %td
              = campaign.customer_name
            %td
              = number_with_delimiter(campaign.amount).to_s + campaign. account_currency_code + '/' + campaign.period
            %td
              = campaign.advertising_channel_type
            %td
              = campaign.status
            %td
              = campaign.impressions
            %td
              = campaign.clicks
            %td
              = campaign.ctr
            %td
              = campaign.average_cpc
            %td
              = campaign.cost

:javascript
  $('#campains-table').DataTable({
    "dom": 'lCfrtip',
    "order": [],
    "colVis": {
      "buttonText": "Columns",
      "overlayFade": 0,
      "align": "right"
    },
    "language": {
      "lengthMenu": '_MENU_ entries per page',
      "search": '<i class="fa fa-search"></i>',
      "paginate": {
        "previous": '<i class="fa fa-angle-left"></i>',
        "next": '<i class="fa fa-angle-right"></i>'
      }
    }
  });
  
