%h1.text-primary.text-xxxl.text-light
  Campaign: 
  = @campaign.name
%p.text-warning{style: 'font-size: 15px;'}
  %span
    Status: 
    = @campaign.status
    |
  %span
    Type: 
    = @campaign.advertising_channel_type
    |
  %span
    Budget: 
    = number_with_delimiter(@campaign.amount.to_i/1000000).to_s + @campaign.account_currency_code + '/' + @campaign.period
.row
  = form_tag ads_google_campaign_show_path, method: :get, :class => 'form' do
    = hidden_field_tag 'tab_index', @tab_index
    .col-lg-12.col-md-12.col-sm-12.col-xs-12
      .row
        .col-lg-4.col-md-4.col-sm-6.col-xs-12
          .form-group
            = select_tag :date_range_type, options_for_select(Report::DATE_RANGE_TYPES.to_a.map { |type| type.reverse }, @date_range_type), class: 'form-control'
            = label_tag(:date_range_type, 'Date Range Type')
        .col-lg-8.col-md-8.col-sm-6.col-xs-12
          .form-group#custom_start_date_group
            = text_field_tag :custom_start_date, @custom_start_date, required: true, class: 'form-control datepicker'
            = label_tag(:custom_start_date, 'Start Date')
          .form-group#custom_end_date_group
            = text_field_tag :custom_end_date, @custom_end_date, required: true, class: 'form-control datepicker'
            = label_tag(:custom_end_date, 'End Date')
          .form-group#campaigns_filter_submit
            = button_tag type: 'submit', class: 'btn ink-reaction btn-floating-action btn-primary' do
              %i.md.md-done-all    
.card
  .card-head
    %ul.nav.nav-tabs{"data-toggle" => "tabs"}
      %li{ :class => @tab_index == 0 ? 'active' : '' }
        = link_to 'Ad groups', '#ad-group'
      %li{ :class => @tab_index == 1 ? 'active' : '' }
        = link_to 'Ads', '#ads'
      %li{ :class => @tab_index == 2 ? 'active' : '' }
        = link_to 'Keywords', '#keywords'
  .card-body.tab-content
    #ad-group.tab-pane{ :class => @tab_index == 0 ? 'active' : '' }
      .table-responsive
        %table#adgroups-table.table.table-striped.table-hover
          %thead
            %tr
              %th.no-sort
              %th Ad group
              %th Status
              %th Default Max. CPC
              %th Clicks
              %th Impr.
              %th CTR
              %th Avg. CPC
              %th Cost
              %th Avg. Pos.
          %tbody
            - @ad_groups.each do |ag|
              %tr
                %td
                  - if ag.state.eql? 'enabled'
                    %i.fa.fa-dot-circle-o.text-success
                  - else
                    %i.fa.fa-dot-circle-o.text-danger
                %td
                  = ag.name
                %td
                  = ag.state
                %td
                  = ag.default_max_cpc
                %td
                  = ag.clicks
                %td
                  = ag.impressions
                %td
                  = ag.ctr
                %td
                  = ag.avg_cpc
                %td
                  = ag.cost
                %td
                  = ag.avg_position
    #ads.tab-pane{ :class => @tab_index == 1 ? 'active' : '' }
      .table-responsive
        %table#ads-table.table.table-striped.table-hover
          %thead
            %tr
              %th.no-sort
              %th.no-sort Ad
              %th Ad Group
              %th Status
              %th.no-sort Labels
              %th I.rate
              %th.no-sort Type
              %th Clicks
              %th Impr.
              %th CTR
              %th Avg. CPC
              %th Cost
              %th Avg. Pos
          %tbody
            - @ads.each do |ad|
              %tr
                %td
                  - if ad.ad_state.eql? 'enabled'
                    %i.fa.fa-dot-circle-o.text-success
                  - else
                    %i.fa.fa-dot-circle-o.text-danger
                %td
                  = link_to ad.ad, eval(ad.final_url).first, class: 'btn-link', target: '_blank'
                  .ad-description1
                    = ad.description1
                  .ad-description1
                    = ad.description2
                  = link_to ad.display_url, ad.final_url, class: 'btn-link'
                %td
                  = ad.ad_group
                %td
                  = ad.ad_state
                %td{style: 'width: 5%;'}
                  - if ad.labels.eql?('--')
                    = ad.labels
                  - else
                    - eval(ad.labels).each do |label|
                      %span.badge.style-accent-dark
                        = label
                %td
                  = ad.interaction_rate
                %td
                  = ad.ad_type
                %td
                  = ad.clicks
                %td
                  = ad.impressions
                %td
                  = ad.ctr
                %td
                  = ad.avg_cpc
                %td
                  = ad.cost
                %td
                  = ad.avg_position
    #keywords.tab-pane{ :class => @tab_index == 2 ? 'active' : '' }
      %a.btn.ink-reaction.btn-raised.btn-danger{:href => '#', id: 'add-keywords-btn', style: 'margin-bottom: 10px;'}
        = fa_icon 'plus', text: 'Keywords'
      .creating-keyword#keywords_create_form
        .card
          .card-head.style-primary
            %header Add keywords
          .card-body
            = form_tag ads_google_campaign_keywords_create_path(@account_id, @campaign.id), method: :post, class: 'form', 'data-parsley-validate' => true do
              .form-group
                = select_tag :ad_group_id, options_from_collection_for_select(@ad_groups, 'id', 'name'), class: 'form-control', prompt: 'Choose...', :required => true
                = label_tag(:ad_group_id, 'Choose ad group')
              .form-group.text-default
                %h3.text-light{:style => 'margin: 0 0 5px 0;'} Add keywords
                %p{:style => 'margin-bottom: 0;'}
                  Choose phrases that customers would use to search for your products and services.
                %p{:style => 'margin-bottom: 0;'}
                  Control how keywords match to searches with
                  %span
                    = link_to 'match types', 'https://support.google.com/adwords/answer/2497836?hl=en&authuser=0', class: 'btn-link'
              .form-group
                = text_area_tag :keywords, nil, rows: 3, class: 'form-control', :required => true, placeholder: 'Add your keywords here...'
                = label_tag(:keywords, 'Enter one keyword per line')
              .form-group
                = submit_tag 'Save', class: 'btn btn-raised ink-reaction btn-primary'
                = link_to 'Cancel', '#', id: 'cancel_keywords_create_form', class: 'btn btn-raised ink-reaction btn-danger'
      .table-responsive
        %table#keywords-table.table.table-striped.table-hover
          %thead
            %tr
              %th.no-sort
              %th Keyword
              %th Ad Group
              %th.no-sort Status
              %th Max. CPC
              %th Clicks
              %th Impr.
              %th CTR
              %th Avg. CPC
              %th Cost
              %th Avg. Pos
              %th.no-sort Labels
          %tbody
            - @keywords.each do |kw|
              %tr
                %td
                  - if kw.keyword_state.eql? 'enabled'
                    %i.fa.fa-dot-circle-o.text-success
                  - else
                    %i.fa.fa-dot-circle-o.text-danger
                %td
                  = kw.keyword_text
                %td
                  = kw.ad_group
                %td
                  = kw.criterion_serving_status.capitalize
                %td
                  = kw.max_cpc
                %td
                  = kw.clicks
                %td
                  = kw.impressions
                %td
                  = kw.ctr
                %td
                  = kw.avg_cpc
                %td
                  = kw.cost
                %td
                  = kw.avg_position
                %td
                  - if kw.labels.eql?('--')
                    = kw.labels
                  - else
                    - eval(kw.labels).each do |label|
                      %span.badge.style-accent-dark
                        = label

:javascript
  $('#add-keywords-btn').click(function(e){
    e.preventDefault();

    $(this).hide();
    $('#keywords_create_form').slideDown();
  });

  $('#cancel_keywords_create_form').click(function(e){
    e.preventDefault();

    $('#keywords_create_form').slideUp();
    $('#add-keywords-btn').show();
  });
  