%h1.text-primary.text-xxxl.text-light
  Campaign: 
  = @campaign.name
%p.text-accent{style: 'font-size: 15px;'}
  %span
    Status: 
    = @campaign.status
    |
  %span
    Type: 
    = @campaign.advertising_channel_type
    |
  %span
    Budget: 
    = number_with_delimiter(@campaign.amount.to_i/1000000).to_s + @campaign.account_currency_code + '/' + @campaign.period
.row
  = form_tag ads_google_campaign_show_path, method: :get, :class => 'form' do
    = hidden_field_tag 'tab_index', @tab_index
    .col-lg-12.col-md-12.col-sm-12.col-xs-12
      .row
        .col-lg-4.col-md-4.col-sm-6.col-xs-12
          .form-group
            = select_tag :date_range_type, options_for_select(Report::DATE_RANGE_TYPES.to_a.map { |type| type.reverse }, @date_range_type), class: 'form-control'
            = label_tag(:date_range_type, 'Date Range Type')
        .col-lg-8.col-md-8.col-sm-6.col-xs-12
          .form-group#custom_start_date_group
            = text_field_tag :custom_start_date, @custom_start_date, required: true, class: 'form-control datepicker'
            = label_tag(:custom_start_date, 'Start Date')
          .form-group#custom_end_date_group
            = text_field_tag :custom_end_date, @custom_end_date, required: true, class: 'form-control datepicker'
            = label_tag(:custom_end_date, 'End Date')
          .form-group#campaigns_filter_submit
            = button_tag type: 'submit', class: 'btn ink-reaction btn-floating-action btn-primary' do
              %i.md.md-done-all    
.card
  .card-head
    %ul.nav.nav-tabs{"data-toggle" => "tabs"}
      %li{ :class => @tab_index == 0 ? 'active' : '' }
        = link_to 'Ad groups', '#ad-group'
      %li{ :class => @tab_index == 1 ? 'active' : '' }
        = link_to 'Ads', '#ads'
      %li{ :class => @tab_index == 2 ? 'active' : '' }
        = link_to 'Keywords', '#keywords'
  .card-body.tab-content
    #ad-group.tab-pane{ :class => @tab_index == 0 ? 'active' : '' }
      %a.btn.ink-reaction.btn-raised.btn-danger{:href => '#', id: 'add-ad-group-btn', style: 'margin-bottom: 10px;'}
        = fa_icon 'plus', text: 'Ad Group'
      #ad_group_create_form
        .card
          .card-head.style-primary
            %header Add Ad Group
          .card-body
            = form_tag ads_google_campaign_ad_group_create_path(@account_id, @campaign.id), method: :post, class: 'form', 'data-parsley-validate' => true do
              .text-default
                %h2.text-accent.text-light Name this ad group
                %p
                  An ad group contains one or more ads and a set of related keywords. For best results, try to focus all the ads and keywords in this ad group on one product or service.
                  %span
                    = link_to 'Learn more about how to structure your account.', 'https://support.google.com/adwords/answer/1704396?hl=en&authuser=0', class: 'btn-link', target: '_blank'
              .form-group
                = text_field_tag :ad_group_name, nil, class: 'form-control', required: true , maxlength: 255, placeholder: 'Type your ad groups name'
                = label_tag(:ad_group_name, 'Ad group name')
              .text-default
                %h2.text-accent.text-light Create an ad
                %p
                  To get started, write your first ad below. Remember, you can always create more ads later.
                  %span
                    = link_to 'Learn how to write a great text ad', 'https://support.google.com/adwords/answer/1704392?hl=en&authuser=0', class: 'btn-link', target: '_blank'
              .row
                .col-md-6
                  .form-group
                    = text_field_tag :ad_group_ad_headline, 'Lorem', class: 'form-control', required: true , maxlength: 25, oninput: 'ad_group_ad_headline_on_input(this)'
                    = label_tag(:ad_group_ad_headline, 'Headline')
                  .form-group
                    = text_field_tag :ad_group_ad_description1, 'Clean and close to subway.', class: 'form-control', required: true, maxlength: 35, oninput: 'ad_group_ad_description1_on_input(this)'
                    = label_tag(:ad_group_ad_description1, 'Description line 1')
                  .form-group
                    = text_field_tag :ad_group_ad_description2, 'consectetuer adipiscing elit.', class: 'form-control', required: true, maxlength: 35, oninput: 'ad_group_ad_description2_on_input(this)'
                    = label_tag(:ad_group_ad_description2, 'Description line 2')
                  .form-group
                    = text_field_tag :ad_group_ad_display_url, 'example.com', class: 'form-control', required: true, maxlength: 35, oninput: 'ad_group_ad_display_url_on_input(this)'
                    = label_tag(:ad_group_ad_display_url, 'Display URL')
                  .form-group
                    = text_field_tag :ad_group_ad_final_urls, 'https://example.com', class: 'form-control', required: true, pattern: "(http|https):\/\/[\\w-]+(\.[\\w-]+)+", oninput: 'ad_group_ad_final_urls_on_input(this)'
                    = label_tag(:ad_group_ad_final_urls, 'Final URL')
                .col-md-6
                  %h2.text-accent.text-light
                    Ad preview
                  %p
                    The following ad preview may be formatted slightly differently from what is shown to users.
                    %span
                      = link_to 'Learn more', 'https://support.google.com/adwords/answer/1704363?hl=en&authuser=0&ctx=newad', class: 'btn-link', target: '_blank'
                  #ad-group-ad-preview
                    .headline Lorem - Clean and close to subway.
                    .display_url
                      %a{href: 'https://example.com', class: 'btn-link', target: '_blank'} example.com
                    .description2
                      consectetuer adipiscing elit.
              .text-default
                %h2.text-accent.text-light Select keywords
                %p
                  Your ad can show on Google when people search for the keywords you choose here. These keywords also determine which managed placements are good matches for your ads.
                  %br
                  Tips:
                %ul                  
                  %li
                    Start with 10-20 keywords.
                  %li
                    Be specific: avoid one-word keywords. Choose phrases that customers would use to search for your products and services.
                  %li
                    By default, keywords are broad matched to searches to help you capture a wider range of relevant traffic. Use
                    %span
                      = link_to 'match types', 'https://support.google.com/adwords/answer/2497836?hl=en&authuser=0', class: 'btn-link', target: '_blank'
                    to control this.
                  %li
                    Learn more about 
                    %span
                      = link_to 'choosing effective keywords.', 'https://support.google.com/adwords/answer/2453981?hl=en&authuser=0', class: 'btn-link', target: '_blank'
              .form-group
                = text_area_tag :ad_group_keywords, nil, rows: 3, class: 'form-control', required: true, placeholder: 'Add your keywords here...'
                = label_tag(:ad_group_keywords, 'Enter one keyword per line')
              .form-group
                = submit_tag 'Save', class: 'btn btn-raised ink-reaction btn-primary'
                = link_to 'Cancel', '#', id: 'cancel_ad_group_create_form', class: 'btn btn-raised ink-reaction btn-danger'
      .table-responsive
        %table#adgroups-table.table.table-striped.table-hover
          %thead
            %tr
              %th.no-sort
              %th Ad group
              %th Status
              %th Default max. CPC
              %th Clicks
              %th Impr.
              %th CTR
              %th Avg. CPC
              %th Cost
              %th Avg. Pos.
          %tbody
            - @ad_groups.each do |ag|
              %tr
                %td
                  - if ag.state.eql? 'enabled'
                    %i.fa.fa-dot-circle-o.text-success
                  - elsif ag.state.eql? 'disabled'
                    %i.fa.fa-dot-circle-o.text-danger
                  - else
                    %i.fa.fa-times.text-danger
                %td
                  = ag.name
                %td
                  = ag.state.capitalize
                %td
                  = ag.default_max_cpc
                %td
                  = ag.clicks
                %td
                  = ag.impressions
                %td
                  = ag.ctr
                %td
                  = ag.avg_cpc
                %td
                  = ag.cost
                %td
                  = ag.avg_position
    #ads.tab-pane{ :class => @tab_index == 1 ? 'active' : '' }
      %a.btn.ink-reaction.btn-raised.btn-danger{:href => '#', id: 'add-ads-btn', style: 'margin-bottom: 10px;'}
        = fa_icon 'plus', text: 'Ads'
      #ads_create_form
        .card
          .card-head.style-primary
            %header Add Ads
          .card-body
            = form_tag ads_google_campaign_ad_create_path(@account_id, @campaign.id), method: :post, class: 'form', 'data-parsley-validate' => true do
              .form-group
                = select_tag :ad_group_id, options_from_collection_for_select(@ad_groups.select{ |g| g.state.eql?('enabled') }, 'id', 'name'), class: 'form-control', prompt: 'Choose...', required: true
                = label_tag(:ad_group_id, 'Choose ad group')
              .text-default
                %h2.text-accent.text-light New text ad
                %p
                  Write your text ad below. Remember to be clear and specific.
                  %span
                    = link_to 'Learn how to write a great text ad', 'https://support.google.com/adwords/answer/1704392?hl=en&authuser=0', class: 'btn-link', target: '_blank'
              .row
                .col-md-6
                  .form-group
                    = text_field_tag :headline, 'Lorem', class: 'form-control', required: true , maxlength: 25, oninput: 'headline_on_input(this)'
                    = label_tag(:headline, 'Headline')
                  .form-group
                    = text_field_tag :description1, 'Clean and close to subway.', class: 'form-control', required: true, maxlength: 35, oninput: 'description1_on_input(this)'
                    = label_tag(:description1, 'Description line 1')
                  .form-group
                    = text_field_tag :description2, 'consectetuer adipiscing elit.', class: 'form-control', required: true, maxlength: 35, oninput: 'description2_on_input(this)'
                    = label_tag(:description2, 'Description line 2')
                  .form-group
                    = text_field_tag :display_url, 'example.com', class: 'form-control', required: true, maxlength: 35, oninput: 'display_url_on_input(this)'
                    = label_tag(:display_url, 'Display URL')
                  .form-group
                    = text_field_tag :final_urls, 'https://example.com', class: 'form-control', required: true, pattern: "(http|https):\/\/[\\w-]+(\.[\\w-]+)+", oninput: 'final_urls_on_input(this)'
                    = label_tag(:final_urls, 'Final URL')
                  .form-group
                    = submit_tag 'Save', class: 'btn btn-raised ink-reaction btn-primary'
                    = link_to 'Cancel', '#', id: 'cancel_ads_create_form', class: 'btn btn-raised ink-reaction btn-danger'
                .col-md-6
                  %h2.text-accent.text-light
                    Ad preview
                  %p
                    The following ad preview may be formatted slightly differently from what is shown to users.
                    %span
                      = link_to 'Learn more', 'https://support.google.com/adwords/answer/1704363?hl=en&authuser=0&ctx=newad', class: 'btn-link', target: '_blank'
                  #ad-preview
                    .headline Lorem - Clean and close to subway.
                    .display_url
                      %a{href: 'https://example.com', class: 'btn-link', target: '_blank'} example.com
                    .description2
                      consectetuer adipiscing elit.
      .table-responsive
        %table#ads-table.table.table-striped.table-hover
          %thead
            %tr
              %th.no-sort
              %th.no-sort Ad
              %th Ad Group
              %th Status
              %th.no-sort Labels
              %th I.rate
              %th.no-sort Type
              %th Clicks
              %th Impr.
              %th CTR
              %th Avg. CPC
              %th Cost
              %th Avg. Pos
          %tbody
            - @ads.each do |ad|
              %tr
                %td
                  - if ad.ad_state.eql? 'enabled'
                    %i.fa.fa-dot-circle-o.text-success
                  - elsif ad.ad_state.eql? 'disabled'
                    %i.fa.fa-dot-circle-o.text-danger
                  - else
                    %i.fa.fa-times.text-danger
                %td
                  = link_to ad.ad, eval(ad.final_url).first, class: 'btn-link', target: '_blank'
                  .ad-description1
                    = ad.description1
                  .ad-description1
                    = ad.description2
                  = link_to ad.display_url, ad.final_url, class: 'btn-link', target: '_blank'
                %td
                  = ad.ad_group
                %td
                  = ad.ad_state.capitalize
                %td{style: 'width: 5%;'}
                  - if ad.labels.eql?('--')
                    = ad.labels
                  - else
                    - eval(ad.labels).each do |label|
                      %span.badge.style-accent-dark
                        = label
                %td
                  = ad.interaction_rate
                %td
                  = ad.ad_type
                %td
                  = ad.clicks
                %td
                  = ad.impressions
                %td
                  = ad.ctr
                %td
                  = ad.avg_cpc
                %td
                  = ad.cost
                %td
                  = ad.avg_position
    #keywords.tab-pane{ :class => @tab_index == 2 ? 'active' : '' }
      %a.btn.ink-reaction.btn-raised.btn-danger{:href => '#', id: 'add-keywords-btn', style: 'margin-bottom: 10px;'}
        = fa_icon 'plus', text: 'Keywords'
      #keywords_create_form
        .card
          .card-head.style-primary
            %header Add keywords
          .card-body
            = form_tag ads_google_campaign_keywords_create_path(@account_id, @campaign.id), method: :post, class: 'form', 'data-parsley-validate' => true do
              .form-group
                = select_tag :ad_group_id, options_from_collection_for_select(@ad_groups.select{ |g| g.state.eql?('enabled') }, 'id', 'name'), class: 'form-control', prompt: 'Choose...', required: true
                = label_tag(:ad_group_id, 'Choose ad group')
              .text-default
                %h2.text-accent.text-light Add keywords
                %p{:style => 'margin-bottom: 0;'}
                  Choose phrases that customers would use to search for your products and services.
                %p
                  Control how keywords match to searches with
                  %span
                    = link_to 'match types', 'https://support.google.com/adwords/answer/2497836?hl=en&authuser=0', class: 'btn-link', target: '_blank'
              .form-group
                = text_area_tag :keywords, nil, rows: 3, class: 'form-control', required: true, placeholder: 'Add your keywords here...'
                = label_tag(:keywords, 'Enter one keyword per line')
              .form-group
                = submit_tag 'Save', class: 'btn btn-raised ink-reaction btn-primary'
                = link_to 'Cancel', '#', id: 'cancel_keywords_create_form', class: 'btn btn-raised ink-reaction btn-danger'
      .table-responsive
        %table#keywords-table.table.table-striped.table-hover
          %thead
            %tr
              %th.no-sort
              %th Keyword
              %th Ad Group
              %th.no-sort Status
              %th maxlength. CPC
              %th Clicks
              %th Impr.
              %th CTR
              %th Avg. CPC
              %th Cost
              %th Avg. Pos
              %th.no-sort Labels
          %tbody
            - @keywords.each do |kw|
              %tr
                %td
                  - if kw.keyword_state.eql? 'enabled'
                    %i.fa.fa-dot-circle-o.text-success
                  - elsif kw.keyword_state.eql? 'disabled'
                    %i.fa.fa-dot-circle-o.text-danger
                  - else
                    %i.fa.fa-times.text-danger
                %td
                  = kw.keyword_text
                %td
                  = kw.ad_group
                %td
                  = kw.criterion_serving_status.capitalize
                %td
                  = kw.max_cpc
                %td
                  = kw.clicks
                %td
                  = kw.impressions
                %td
                  = kw.ctr
                %td
                  = kw.avg_cpc
                %td
                  = kw.cost
                %td
                  = kw.avg_position
                %td
                  - if kw.labels.eql?('--')
                    = kw.labels
                  - else
                    - eval(kw.labels).each do |label|
                      %span.badge.style-accent-dark
                        = label

:javascript
  // =======================================
  // keywords create form slide toggle
  // =======================================
  $('#add-keywords-btn').click(function(e){
    e.preventDefault();
    $(this).hide();
    $('#keywords_create_form').slideDown();
  });

  $('#cancel_keywords_create_form').click(function(e){
    e.preventDefault();
    $('#keywords_create_form').slideUp();
    $('#add-keywords-btn').show();
  });

  // =======================================
  // ads create form slide toggle
  // =======================================
  $('#add-ads-btn').click(function(e){
    e.preventDefault();
    $(this).hide();
    $('#ads_create_form').slideDown();
  });

  $('#cancel_ads_create_form').click(function(e){
    e.preventDefault();
    $('#ads_create_form').slideUp();
    $('#add-ads-btn').show();
  });

  // =======================================
  // ad groups create form slide toggle
  // =======================================
  $('#add-ad-group-btn').click(function(e){
    e.preventDefault();
    $(this).hide();
    $('#ad_group_create_form').slideDown();
  });

  $('#cancel_ad_group_create_form').click(function(e){
    e.preventDefault();
    $('#ad_group_create_form').slideUp();
    $('#add-ad-group-btn').show();
  });

  // =======================================
  // oninput of ads create form handle
  // =======================================
  function headline_on_input(element){
    $('#ad-preview .headline').text($(element).val() + ' - ' + $('#description1').val());
  }

  function description1_on_input(element){
    $('#ad-preview .headline').text($('#headline').val() + ' - ' + $(element).val());
  }

  function description2_on_input(element){
    $('#ad-preview .description2').text($(element).val());
  }

  function display_url_on_input(element){
    $('#ad-preview .display_url a').text($(element).val());
  }

  function final_urls_on_input(element){
    $('#ad-preview .display_url a').attr('href', $(element).val());
  }

  // =======================================
  // oninput of ad groups create form handle
  // =======================================
  function ad_group_ad_headline_on_input(element){
    $('#ad-group-ad-preview .headline').text($(element).val() + ' - ' + $('#description1').val());
  }

  function ad_group_ad_description1_on_input(element){
    $('#ad-group-ad-preview .headline').text($('#headline').val() + ' - ' + $(element).val());
  }

  function ad_group_ad_description2_on_input(element){
    $('#ad-group-ad-preview .description2').text($(element).val());
  }

  function ad_group_ad_display_url_on_input(element){
    $('#ad-group-ad-preview .display_url a').text($(element).val());
  }

  function ad_group_ad_final_urls_on_input(element){
    $('#ad-group-ad-preview .display_url a').attr('href', $(element).val());
  }
