%h1.text-primary.text-xxxl.text-light
  Accounts
%ul
  - if @accounts.empty?
    %li
      No accounts available.
  - else
    - @accounts.each_pair do |id, account|
      = link_to(:controller => 'account', :action => 'select', :account_id => account.customer_id) do
        %h4.text-accent
          %i.fa.fa-dot-circle-o.text-accent
          Root Account: #{account.name} - #{account.customer_id.to_s}
      - unless account.child_accounts.empty?
        .table-responsive
          %table#account-table.table.table-striped.table-hover
            %thead
              %tr
                %th
                  Account
                %th
                  Account Id
                %th
                  Account Label
                %th
                  Company Name
                %th
                  Currency Code
                %th
                  Date Time Zone
            %tfoot
              %tr
                %th
                  Account
                %th
                  Account Id
                %th
                  Account Label
                %th
                  Company Name
                %th
                  Currency Code
                %th
                  Date Time Zone
            %tbody
              / - sorted_accounts = account.child_accounts.sort {|a, b| a.customer_id <=> b.customer_id}
              - account.child_accounts.each do |account|
                %tr
                  %td
                    = link_to(:controller => 'account', :action => 'select', :account_id => account.customer_id) { account.name }
                  %td
                    = account.customer_id.to_s
                  %td
                    - if account.account_labels.nil?
                      = ''
                    - else
                      - account.account_labels.each do |account_label|
                        = account_label[:name]
                        %br
                  %td
                    = account.company_name
                  %td
                    = account.currency_code
                  %td
                    = account.date_time_zone
:javascript
  $('#account-table').DataTable({
    "dom": 'lCfrtip',
    "order": [],
    "colVis": {
      "buttonText": "Columns",
      "overlayFade": 0,
      "align": "right"
    },
    "language": {
      "lengthMenu": '_MENU_ entries per page',
      "search": '<i class="fa fa-search"></i>',
      "paginate": {
        "previous": '<i class="fa fa-angle-left"></i>',
        "next": '<i class="fa fa-angle-right"></i>'
      }
    }
  });

  $('#account-table tbody').on('click', 'tr', function() {
    $(this).toggleClass('selected');
  });
