!!!
%html
  %head
    %title Ads On Rails
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': true
    = javascript_include_tag 'application', 'data-turbolinks-track': true
    = favicon_link_tag 'favicon.png'
    = csrf_meta_tags
  %body
    #global-header
      - account_text = (@selected_account.nil?) ? 'Not selected' : @selected_account
      %span
        Active account: #{account_text}
    #global-alert
      - flash.each do |name, msg|
        = content_tag :div, msg, class: [:alert, get_alert_class_by_name(name)]
    = yield
    #global-footer
      %span.small-print= link_to 'Log out ads on rails', destroy_user_session_path, method: :delete
      |
      %span.small-print= link_to 'Log out google account', ads_google_login_logout_path