!!!
%html
  %head
    %title Ads On Rails
    = stylesheet_link_tag 'adsmanager', media: 'all', 'data-turbolinks-track': true
    = javascript_include_tag 'adsmanager', 'data-turbolinks-track': true
    = favicon_link_tag 'favicon.png'
    = csrf_meta_tags
  %body.menubar-hoverable.header-fixed.menubar-pin
    = render 'partials/ads_header'
    #base
      #content
        %section
          .section-body
            - flash.each do |name, msg|
              = content_tag :div, class: [:alert, :noty, get_alert_class_by_name(name)] do
                %a.close{"aria-label" => "close", "data-dismiss" => "alert"} &times;
                = msg
            = yield
      #menubar.menubar-inverse.animate
        = render 'partials/ads_menu'
